.shared-image {
	border-radius: 5px;
	display: block;
	float: right;
	height: 18px;
	width: 18px;
	margin-right: 75px;
	margin-top: -35px;
	overflow: hidden;
	position: relative;
	background: #64aedc;
	color: #fff;

	.init-icon-font();

	&:before {
		display: inline-block;
		font-size: 18px;
		height: 100%;
		width: 100%;
		content: "\e912";
	}
 }
 .no-public .panel.files .items_list .item .shared-image.with_thumb {
	float: left;
	margin-top: -15px;
}

.popup_panel .fields .shares_personal .input {
	width: 450px;
}

.popup_panel_shares {
	min-width: 500px;
}

.simple_list.shares_list {
	margin: 0;
	overflow: visible;
	border: 0;
	
	.item_share {
		border-bottom: 1px solid #d5d9dc !important;
	}

	.item {
		cursor: default;
		overflow: visible;

		.access_select {
			float: right;
			position: relative;
			width: 40%;

			.link {
				border-bottom: 1px dashed #4477bb;
				color: #4477bb;
				text-decoration: none;
			}
		}
		
		span.del {
			cursor: pointer;
			color: #b7b7b7;
			float: right;
			font-size: 11pt;
			margin-top: 2px;
			text-shadow: 0 1px 0 #ffffff, 0 0 0 #c8c8c8;
			visibility: hidden;

			.init-icon-font();

			&:before {
				content: "\e63e";
			}
		}

		&:hover span.del {
			visibility: visible;
		}
	}
}
